.navbar {
    background-color: #222831; 
    color: white;
    padding: 15px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .navbar-logo {
    width: auto; 
    height: 30px; 
    margin-right: 10px; 
  }
  
  .navbar-title img {
    display: inline-block; 
  }
  
  .navbar-title {
    font-family: "Audiowide", sans-serif;
    font-size: 35px;
    color: #FFAF45;
  }
  
  .navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
  }
  
  .navbar nav ul li {
    margin-left: 20px; 
  }
  
  .navbar nav ul li:last-child {
    margin-right: 0;
  }
  
  .navbar nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.5s ease;
    font-family: "Audiowide", sans-serif;
    font-size: 25px;
  }
  
  .navbar nav ul li a:hover {
    color: #FFAF45;
    border-radius: 8px;
  }

  
