.news-list {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .news-item {
    width: 80%; 
    margin: 20px 0;
    background-color: #393E46;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #FFAF45;
    display: flex; 
  }
  
  .news-image {
    width: 50%; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
  }
  
  .news-details {
    flex-grow: 1; 
    padding: 15px;
    display: flex; 
    flex-direction: column; 
  }
  
  .news-details h3 {
    margin-top: 0;
    color: #FFAF45;
    font-family: 'Audiowide', cursive;
  }
  
  .news-details p {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
  }
  