@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.PopGames {
    margin-top: 20px;
  }
  
  .PopGames-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #FFAF45;
    font-family: "Audiowide", sans-serif;
  }
  
  .image-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thick; 
    scrollbar-color: #B6BBC4 #31363F; 
  }
  
  .image-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .image-container::-webkit-scrollbar-track {
    background: #F9F9F9;
  }
  
  .image-container::-webkit-scrollbar-thumb {
    background-color: #AD1D45;
    border-radius: 4px;
  }
  
  .image-link {
    margin-right: 20px;
    text-decoration: none;
  }
  
  .image-wrapper {
    position: relative;
    width: 200px;
  }
  
  .image-wrapper img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
  }
  
  .image-wrapper:hover img {
    filter: brightness(0.7);
  }
  
  .image-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%; 
    height: 95%; 
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 1px;
    display: none;
    font-size: 1.0rem; 
    
  }
  
  .image-wrapper:hover .image-details {
    display: flex;
    justify-content: center;
    font-family: "Audiowide", sans-serif;
    align-items: center;
    
    color: #FFAF45;
  }
  